<div class="row container">
    <h1 class="col-4 title">EasyStore</h1>
    <span class="p-input-icon-left col-6 align pt-2">
        <i class="pi pi-search"></i>
        <input type="text" pInputText  />
    </span>
    <span class="col-2 profile pt-1">
        <i class="pi pi-user title" style="font-size: 2.5rem"></i>
    </span>
</div>
<hr style="margin: 0;">

<p-menubar [model]="items">
    <ng-template>
        <input type="text" pInputText placeholder="Search" class="w-full" />
    </ng-template>
</p-menubar>
<hr style="margin: 0;">