.align{
    // padding-top: 10px;
}
.p-inputtext:enabled:hover {
    width: 100% !important;
}
.p-inputtext:enabled {
    width: 100% !important;
}
.title{
    // padding-top: 2px;
    color: purple;
}
.cart{
    position: absolute;
    left: 150%;
}
.profile{
    position: absolute;
    left: 190%;
}
