.align{
    // padding-top: 10px;
}
.p-inputtext:enabled:hover {
    width: 100% !important;
}
.p-inputtext:enabled {
    width: 100% !important;
}
.title{
    // padding-top: 2px;
    color: purple;
}
.profile{
    position: absolute;
    right: -171px;
    // padding-top: 10px;
}
// hr{
//     border-top: 1px solid rgba(0,0,0,0.5);
// }

